* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #E5E5E5;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav-ul {
    display: flex;
    align-items: center;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: 
    space-between;
}

.call-number {
    display: flex;
    align-items: center;
}

.call-number p {
    margin-left: 10px;
}

.nav-li {
    margin: 0 10px;
}