* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #E5E5E5;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    .container {
        width: 1040px;
        background-color: red;
    }
}

@media (max-width: 960px) {
    .container {
        width: 940px;
    }
}

@media (max-width: 860px) {
    .container {
        width: 840px;
    }
}

@media (max-width: 760px) {
    .container {
        width: 740px;
    }
}

@media (max-width: 660px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 560px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 460px) {
    .container {
        width: 440px;
    }
}

@media (max-width: 360px) {
    .container {
        width: 340px;
    }
}

@media (max-width: 260px) {
    .container {
        width: 240px;
    }
}

.nav-ul {
    display: flex;
    align-items: center;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: 
    space-between;
}

.call-number {
    display: flex;
    align-items: center;
}

.call-number p {
    margin-left: 10px;
}

.nav-li {
    margin: 0 10px;
}
